<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.kanamobi.wrappedbluetoothmessage" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>


    <application >

        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog"/>

        <activity
            android:name=".BluetoothMessageActivity"
            android:configChanges="orientation|keyboardHidden" />

    </application>

</manifest>
